<section class="review" id="review">
    <h1 class="heading">
        MÜŞTERILERIN DEĞERLENDIRMESI

        <span></span>
    </h1>
    <div class="box-container">
        <div class="box">
            <img src="~/images/quote.png" alt="quote" />
            <p>
                Arkadaşlarımızla Birlikte Öğlen Yemeği Için Gittik. Ortam Çok Güzel, Çalışanlar Çok Ilgili, Yemeklerde Oldukça Lezzetli Idi. Tam Bir Şef Restoranı, Menü Her Ay Değişiyor Ve Yepyeni Lezzetler Tatma Imkanı Buluyorsunuz.
            </p>
            <img src="~/images/userprofile.png" alt="avatar" class="user" />
            <h3>Oğuz Öner</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
        <div class="box">
            <img src="~/images/quote.png" alt="quote" />
            <p>
                Burger Seven Biri Olarak Bu Mekanı Tavsiye Ediyorum. Özellikle Bacon Hamburger Ve Şefin Özel Pizzasını Denemenizi Öneriyorum. Ekmeklerini Kendileri Pişiriyor Ve Çok Hafif. Ayrıca Satın Alabiliyorsunuz. İki Katlı, Temiz Bir Mekan. Fiyatları Aldığınız Hizmete Göre Uygun.
            </p>
            <img src="~/images/userprofile.png" alt="avatar" class="user" />
            <h3>Ekrem İmamoğlu</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
        <div class="box">
            <img src="~/images/quote.png" alt="quote" />
            <p>
                Ailecek Gittik Ve Çok Lezzetli Bir Hamburger Yedik... Gelen Hamburgerler Ve Sunum Gerçekten Süperdi... Hamburger Yemek Için Tereddüt Etmeden Gidilir. Mekan Olarak Da Çok Güzel Bir Yer...
            </p>
            <img src="images/userprofile.png" alt="avatar" class="user" />
            <h3>Kübra Kumbar</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
    </div>
</section>