<section class="products" id="products">
    <h1 class="heading">
        LEZZET ŞÖLENI MENU

        <span></span>
    </h1>
    <div class="box-container">
        <div class="box">
            <div class="box-head">
                <span class="title">MINI BURGER</span>
                <a href="#" class="name">Bacon Burger</a>
            </div>
            <div class="image">
                <img src="~/images/product-1.png" alt="" />
            </div>
            <div class="box-bottom">
                <div class="info">
                    <b class="price">89TL</b>
                    <span class="amount">110gr / 300 Cal</span>
                </div>
             
            </div>
        </div>
        <div class="box">
            <div class="box-head">
                <span class="title">MINI BURGER</span>
                <a href="#" class="name">Bacon Burger</a>
            </div>
            <div class="image">
                <img src="~/images/product-2.png" alt="" />
            </div>
            <div class="box-bottom">
                <div class="info">
                    <b class="price">90TL</b>
                    <span class="amount">110gr / 300 Cal</span>
                </div>
               
            </div>
        </div>
        <div class="box dark-bg">
            <div class="box-head">
                <span class="title">MINI BURGER</span>
                <a href="#" class="name">Bacon Burger</a>
            </div>
            <div class="image">
                <img src="~/images/dark-product.jpg" alt="" />
            </div>
            <div class="box-bottom">
                <div class="info">
                    <b class="price">120TL</b>
                    <span class="amount">110gr / 300 Cal</span>
                </div>
           
            </div>
        </div>
    </div>
</section>