 
 <section class="menu" id="menu">
    <h1 class="heading">our <span>Menü</span></h1>
    <div class="box-container">
        <div class="box">
            <div class="box-head">
                <img src="~/images/menu-1.png" alt="menu" />
                <span class="menu-category">PIZZA</span>
                <h3>6 Mini Pizza </h3>
                <div class="price">90TL <span>119.99</span></div>
            </div>

        </div>
        <div class="box">
            <div class="box-head">
                <img src="~/images/menu-2.png" alt="menu" />
                <span class="menu-category">Burger</span>
                <h3>5 Mini Burger</h3>
                <div class="price">100TL <span>119</span></div>
            </div>

        </div>
        <div class="box">
            <div class="box-head">
                <img src="~/images/menu-3.png" alt="menu" />
                <span class="menu-category">Pizza</span>
                <h3>2 Karışık Pizza</h3>
                <div class="price">100TL <span>119</span></div>
            </div>

        </div>
    </div>
</section>