@{
    ViewData["Title"] = "Home Page";
}

<!--! header section start  -->

<!--! header section end  -->
<!--! home section start  -->
<section class="home" id="home">
    <div class="content">
        <h3>Hoşgeldiniz</h3>
        <p>
           Dünyaca ünlü şefimizin lezzetleriyle buluşmaya hazır mısınız?
        </p>
        <a href="#" class="btn">Hoşgeldiniz</a>
    </div>
</section>
<!--! home section end  -->
<!--! menu section start  -->
<section class="menu" id="menu">
    <h1 class="heading">Menülerimiz</h1>
    <div class="box-container">
        <div class="box">
            <div class="box-head">
                <img src="~/images/menu-1.png" alt="menu" />
                <span class="menu-category">PIZZA</span>
                <h3>6 Mini Pizza</h3>
                <div class="price">150TL <span>119.99</span></div>
            </div>
       
        </div>
        <div class="box">
            <div class="box-head">
                <img src="~/images/menu-2.png" alt="menu" />
                <span class="menu-category">Burger</span>
                <h3>5 Mini Burger</h3>
                <div class="price">100TL <span>109.99</span></div>
            </div>
     
        </div>
        <div class="box">
            <div class="box-head">
                <img src="~/images/menu-3.png" alt="menu" />
                <span class="menu-category">PIZZA</span>
                <h3>2 Karışık Pizza</h3>
                <div class="price">50TL <span> 59.99</span></div>
            </div>
     
        </div>
  
    </div>
</section>
<!--! menu section end  -->
<!--! products section start  -->
<section class="products" id="products">
    <h1 class="heading">Lezzet Şöleni <span>Menu</span></h1>
    <div class="box-container">
        <div class="box">
            <div class="box-head">
                <span class="title">MINI BURGER</span>
                <a href="#" class="name">Bacon Burger</a>
            </div>
            <div class="image">
                <img src="~/images/product-1.png" alt="" />
            </div>
            <div class="box-bottom">
                <div class="info">
                    <b class="price">89TL</b>
                    <span class="amount">110gr / 300 Cal</span>
                </div>
          
            </div>
        </div>
        <div class="box">
            <div class="box-head">
                <span class="title">MINI BURGER</span>
                <a href="#" class="name">Bacon Burger</a>
            </div>
            <div class="image">
                <img src="~/images/product-2.png" alt="" />
            </div>
            <div class="box-bottom">
                <div class="info">
                    <b class="price">90TL</b>
                    <span class="amount">110gr / 300 Cal</span>
                </div>
       
            </div>
        </div>
        <div class="box dark-bg">
            <div class="box-head">
                <span class="title">MINI BURGER</span>
                <a href="#" class="name">Bacon Burger</a>
            </div>
            <div class="image">
                <img src="~/images/dark-product.jpg" alt="" />
            </div>
            <div class="box-bottom">
                <div class="info">
                    <b class="price">105TL</b>
                    <span class="amount">110gr / 300 Cal</span>
                </div>
           
            </div>
        </div>
    </div>
</section>
<!--! products section end  -->
<!--! about section start  -->
<section class="about" id="about">
    <h1 class="heading">Lezzetler Hakkında </h1>
    <div class="row">
        <div class="image">
            <img src="~/images/about.jpg" alt="about" />
        </div>
        <div class="content">
            <h3>Burgerlerimizin Gizli Tarifi Nedir?</h3>
            <p>
                Dünya lezzetleriyle harmanlanmış, her mutfaktan esinlenerek özel soslar eşliğin
                sevgi ve emek katarak tattığınız eşsiz lezzete ulaşıyoruz.
            </p>
            <p>
                ENG:Special sauces, inspired by every cuisine, blended with world flavors.
                We reach the unique taste you taste by adding love and effort.
            </p>
            <p>
                ARP: كل مطبخ ممزوجة مع النكهات العالمية.
                نصل إلى الذوق الفريد الذي تتذوقه بإضافة الحب والجهد.
            </p>
            <a href="#" class="btn">Başa Dön</a>
        </div>
    </div>
</section>
<!--! about section end  -->
<!--! review section start  -->
<section class="review" id="review">
    <h1 class="heading">Müşterilerin <span>Değerlendirmesi</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="~/images/quote.png" alt="quote" />
            <p>
                Arkadaşlarımızla birlikte öğlen yemeği için gittik. Ortam çok güzel, çalışanlar çok ilgili, yemeklerde oldukça lezzetli idi. Tam bir şef restoranı, menü her ay değişiyor ve yepyeni lezzetler tatma imkanı buluyorsunuz.

              
            </p>
            <img src="~/images/userprofile.png" alt="avatar" class="user" />
            <h3>Elifnaz Sarp</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
        <div class="box">
            <img src="~/images/quote.png" alt="quote" />
            <p>
                Burger seven biri olarak bu mekanı tavsiye ediyorum. Özellikle bacon hamburger ve şefin özel pizzasını denemenizi öneriyorum. Ekmeklerini kendileri pişiriyor ve çok hafif. Ayrıca satın alabiliyorsunuz. İki katlı, temiz bir mekan. Fiyatları aldığınız hizmete göre uygun.


            </p>
            <img src="~/images/userprofile.png" alt="avatar" class="user" />
            <h3>Ekrem İmamoğlu</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
        <div class="box">
            <img src="~/images/quote.png" alt="quote" />
            <p>
                Ailecek gittik ve çok lezzetli bir hamburger yedik... Gelen hamburgerler ve sunum gerçekten süperdi... Hamburger yemek için tereddüt etmeden gidilir. Mekan olarak da çok güzel bir yer...
            </p>
            <img src="~/images/userprofile.png" alt="avatar" class="user" />
            <h3>Kübra Kumbar</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
    </div>
</section>
<!--! review section end  -->
<!--! contact section start  -->
<section class="contact" id="contact">
    <h1 class="heading">iletişim </h1>
    <div class="row">
        <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12037.852231349814!2d28.985091699999998!3d41.03700175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7650656bd63%3A0x8ca058b28c20b6c3!2zVGFrc2ltIE1leWRhbsSxLCBHw7xtw7zFn3N1eXUsIDM0NDM1IEJleW_En2x1L8Swc3RhbmJ1bA!5e0!3m2!1str!2str!4v1652655842555!5m2!1str!2str"
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        <form>
            <h3>get in touch</h3>
            <div class="inputBox">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="isim soyisim" />
            </div>
            <div class="inputBox">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="email" />
            </div>
            <div class="inputBox">
                <i class="fas fa-phone"></i>
                <input type="number" placeholder="telefon numarası" />
            </div>
            <input type="submit" class="btn" value="contact now" />
        </form>
    </div>
</section>
<!--! contact section end  -->
<!--! blogs section start  -->
<section class="blogs" id="blogs">
    <h1 class="heading">Blogumuz</h1>
    <div class="box-container">
        <div class="box">
            <div class="image">
                <img src="~/images/blog-1.jpg" alt="blog" />
            </div>
            <div class="content">
                <a href="#" class="title">
                    Burger Nasıl Yapılır?
                    Yazan Şefler / 1 Haziran 2023
                </a>
                <span> / 1 Haz. , 2023</span>
                <p>
                    Ateşte pişmiş köftesi, pufidik ekmeğinin arasından göz kırpan hamburgeri elimize aldığımız anın mutluluğuna tüm dünya gibi biz de bağımlıyız.
                </p>
                <a href="#" class="btn">Başa Dön</a>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="~/images/blog-2.jpg" alt="blog" />
            </div>
            <div class="content">
                <a href="#" class="title">Lezzet sırrı nedir?</a>
                <span>Yazan Şefler / 15 Haziran, 2023</span>
                <p>
                    Yetenekli şeflerin finedining’i bir kenara bırakıp burgere dönme serüvenine birkaç yıldır şahitlik ediyoruz ama ülkemizdeki iyi örneklerin geçmişi sandığımızdan daha köklü. Peki, tutkunu olduğumuz hamburgerin ‘kusursuz’unun sırları neler?
                </p>
                <a href="#" class="btn">Başa Dön</a>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="~/images/blog-3.jpg" alt="blog" />
            </div>
            <div class="content">
                <a href="#" class="title">Sokak Lezzetleri</a>
                <span>Yazan Şefler / 30 Haziran, 2023</span>
                <p>
                    Sokak lezzetlerinin yükselişi hız kesmiyor ama burger kadar çok sevilen, hemen her ülkede, kültürde bilinip kendisine sağlam bir yer edinen ortak bir tutku daha saymak kolay değil. Bir şef olarak iki ülkede birden yaşayınca, bazı yemek trendlerini de iki farklı zamanda tecrübe edebiliyorsunuz.
                </p>
                <a href="#" class="btn">Başa Dön</a>
            </div>
        </div>
    </div>
</section>