<section class="about" id="about">
    <h1 class="heading">Lezzetler<span>Hakkında</span></h1>
    <div class="row">
        <div class="image">
            <img src="~/images/about.jpg" alt="about" />
        </div>
        <div class="content">
            <h3>Burgerlerimizin Gizli Tarifi Nedir?</h3>
            <p>
                Dünya Lezzetleriyle Harmanlanmış, Her Mutfaktan Esinlenerek Özel Soslar Eşliğin Sevgi Ve Emek Katarak Tattığınız Eşsiz Lezzete Ulaşıyoruz.

            </p>
            <p>
                ENG:Special Sauces, Inspired By Every Cuisine, Blended With World Flavors. We Reach The Unique Taste You Taste By Adding Love And Effort.
            </p>
            <p>
                ARP: كل مطبخ ممزوجة مع النكهات العالمية. نصل إلى الذوق الفريد الذي تتذوقه بإضافة الحب والجهد.
            </p>
            <a href="#" class="btn">Başa Dön</a>
        </div>
    </div>
</section>