<section class="blogs" id="blogs">
    <h1 class="heading">Blogumuz <span> </span></h1>
    <div class="box-container">
        <div class="box">
            <div class="image">
                <img src="~/images/blog-1.jpg" alt="blog" />
            </div>
            <div class="content">
                <a href="#" class="title">Burger Nasıl Yapılır? Yazan Şefler / 1 Haziran 2023</a>
                <span> Yazan Şefler /  1 Haz. , 2023</span>
                <p>
                    Ateşte Pişmiş Köftesi, Pufidik Ekmeğinin Arasından Göz Kırpan Hamburgeri Elimize Aldığımız Anın Mutluluğuna Tüm Dünya Gibi Biz De Bağımlıyız.
                </p>
                <a href="#" class="btn">Başa Dön</a>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="~/images/blog-2.jpg" alt="blog" />
            </div>
            <div class="content">
                <a href="#" class="title">Lezzet Sırrı Nedir?</a>
                <span>Yazan Şefler / 15 Haziran, 2023</span>
                <p>
                    Yetenekli Şeflerin Finedining’i Bir Kenara Bırakıp Burgere Dönme Serüvenine Birkaç Yıldır Şahitlik Ediyoruz Ama Ülkemizdeki Iyi Örneklerin Geçmişi Sandığımızdan Daha Köklü. Peki, Tutkunu Olduğumuz Hamburgerin ‘Kusursuz’unun Sırları Neler?
                </p>
                <a href="#" class="btn">Başa Dön</a>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="~/images/blog-3.jpg" alt="blog" />
            </div>
            <div class="content">
                <a href="#" class="title">Sokak Lezzetleri</a>
                <span> Yazan Şefler / 30 Haziran, 2023</span>
                <p>
                    Sokak Lezzetlerinin Yükselişi Hız Kesmiyor Ama Burger Kadar Çok Sevilen, Hemen Her Ülkede, Kültürde Bilinip Kendisine Sağlam Bir Yer Edinen Ortak Bir Tutku Daha Saymak Kolay Değil. Bir Şef Olarak Iki Ülkede Birden Yaşayınca, Bazı Yemek Trendlerini De Iki Farklı Zamanda Tecrübe Edebiliyorsunuz.

                    </p>
                    <a href="#" class="btn">Başa Dön</a>
</div>
        </div>
    </div>
</section>